@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes fadeIn {
  from { opacity: 0.5; }
  to { opacity: 1; }
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease forwards;
}

.animate-slideUp {
  animation: slideUp 0.3s ease forwards;
}

.skeleton-category-slide {
    margin-right: 10px;
  }
  
  @media (min-width: 640px) {
    .skeleton-category-slide {
      margin-right: 20px;
    }
  }
